@import "config";
.checkout-container {
  padding: 1em 0.625em;
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-top: 2em;

  .product-container {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: 0.5em auto;
  }
}

.product-img {
  max-width: 45%;
}
.product-info {
  max-width: 45%;
  p {
    font-size: 1rem;
    color: $grey-4;
    margin-bottom: 0.5em;
  }

  .color {
    color: $orange;
    font-size: 1rem;
    padding-right: 0.5em;
  }

  .text-through {
    font-size: 0.75rem;
    text-decoration: line-through;
  }
}

.product-img img {
  width: 100%;
  min-width: 150px;
  max-width: 170px;
  border-radius: 12px;
}

.product-card-container {
  padding-bottom: 4em;
}
