@import "config";

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 4rem 1rem;

  h1 {
    font-size: 2.25rem;
    line-height: 1.21;
    color: $primary;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.21;
    color: $grey-1;
    margin-bottom: 0.9rem;
  }
}
